In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("general_data.xlsx.csv")

In [7]:
df_attrition_yes = df[df["Attrition"]=="Yes"] 
df_attrition_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [6]:
df_attrition_yes["Gender"].value_counts()

Male      441
Female    270
Name: Gender, dtype: int64

In [15]:
total = df["Attrition"].value_counts()["Yes"]
print(total)

711

In [25]:
print("Number of Males who are leaving the company are ",(441/total)*100,"%")
print("Number of Females who are leaving the company are ",(270/total)*100,"%")

Number of Males who are leaving the company are  62.0253164556962 %
Number of Females who are leaving the company are  37.9746835443038 %

In [32]:
dfincome = df_attrition_yes["MonthlyIncome"]

In [34]:
dfincome.mean()

61682.61603375527

In [35]:
dfhome = df_attrition_yes["DistanceFromHome"]
dfhome.value_counts()

2     114
1      96
10     60
7      48
9      36
4      33
8      33
15     33
3      30
5      30
6      21
19     18
18     15
16     15
12     15
29     12
17     12
28     12
23     12
24      9
27      9
11      9
22      9
20      9
25      6
21      6
26      3
13      3
14      3
Name: DistanceFromHome, dtype: int64

In [40]:
dfdepart = df_attrition_yes["Department"]

In [39]:
dfdepart.value_counts()

Research & Development    453
Sales                     201
Human Resources            57
Name: Department, dtype: int64

In [44]:
dfincome.value_counts()

25590     6
55620     6
27430     6
28860     6
27410     6
         ..
76440     3
84630     3
107480    3
22740     3
30720     3
Name: MonthlyIncome, Length: 232, dtype: int64

In [47]:

 df_attrition_yes.YearsAtCompany.value_counts()

1     177
2      81
5      63
3      60
4      57
10     54
0      48
7      33
6      27
8      27
9      24
13      6
11      6
14      6
33      3
15      3
16      3
17      3
18      3
19      3
20      3
21      3
22      3
23      3
24      3
31      3
32      3
40      3
Name: YearsAtCompany, dtype: int64

In [48]:

 df_attrition_yes.Age.value_counts()

29    54
31    54
28    42
26    36
33    36
32    33
35    30
30    27
34    27
24    21
25    18
36    18
44    18
21    18
20    18
41    18
19    18
39    18
37    18
22    15
58    15
40    15
50    15
18    12
23    12
46    12
27     9
55     9
52     9
56     9
47     9
38     6
49     6
45     6
51     6
43     6
53     6
42     6
48     6
Name: Age, dtype: int64

In [49]:

 df_attrition_yes.Age.mean()

33.607594936708864

In [50]:
df_attrition_yes.JobRole.value_counts()

Sales Executive              165
Research Scientist           159
Laboratory Technician        126
Research Director             57
Healthcare Representative     57
Manufacturing Director        48
Manager                       42
Sales Representative          36
Human Resources               21
Name: JobRole, dtype: int64

In [51]:
df_attrition_yes.MaritalStatus.value_counts()

Single      360
Married     252
Divorced     99
Name: MaritalStatus, dtype: int64

In [52]:
df_attrition_yes.EducationField.value_counts()

Life Sciences       303
Medical             225
Marketing            75
Technical Degree     45
Human Resources      33
Other                30
Name: EducationField, dtype: int64